.App {
  text-align: center;
}

body{
  width: 100%;
}

h1,h2,h3,h4,h5 {
  margin: 10px 10px;
}

.cardContainer {
  margin: auto;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.tile {
  max-width: 200px;
}
